#to_do {
    width: 400px;
    height: 600px;
    border: 1px dashed rgb(241, 183, 74);
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    background-color: bisque;
    padding: 30px;
   .top{
    align-items: center;
    margin-bottom: 30px;
    

    
    .h1{
            margin-right: 20px;
    }
  
   

   }

   .context{
   align-items: center;

   }
    
   
   .box{
    border: 1px solid orange;
    margin-top: 10px;
    padding: 10px;
   }

}